body {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.nav1 {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #cfd8dc;
  height: 75px;
}
.nav1 .logo {
  margin-left: 105px;
  margin-top: 17px;
}
.nav1 ul {
  display: flex;
  list-style: none;
  margin-top: 31px;
  margin-right: 100px;
}
.nav1 li {
  padding-left: 1rem;
}
.nav1 ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.nav1 .hu, .nav1 .eng {
  color: #595959;
  text-decoration: underline;
}
.nav1 .srb {
  text-decoration: none;
  color: #888787;
}

.nav2 {
  background-color: #f0f0f0;
  color: #000;
  text-align: center;
  padding: 10px 0;
}
.nav2 .nav-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.nav2 .nav-menu li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 42px;
  position: relative;
}
.nav2 .nav-menu li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 183px;
  margin-top: -10px;
  bottom: 0;
  width: 1px;
  background-color: rgba(136, 135, 135, 0.4156862745);
}
.nav2 .nav-menu a {
  text-decoration: none;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav2 .nav-menu .upperc {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.nav2 .nav-menu .lowerc {
  color: #474747;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.image-container {
  position: relative;
  width: 100%;
}
.image-container .image-container img {
  display: block;
  width: 100%;
}
.image-container .icon-overlay {
  position: absolute;
  bottom: 50px;
  left: 50%;
}

.row {
  margin: 73px 0px 70px 0px;
  width: 710px;
  height: 504px;
  display: flex;
  width: 100%;
  flex-direction: row;
}
.row .dvg {
  font-size: 42px;
  font-weight: 700;
  line-height: 34px;
  color: 303030;
  font-family: "Roboto", sans-serif;
  color: 303030;
}
.row .col-2 {
  padding-left: 55px;
  margin-top: 48px;
  width: 506px;
}
.row .red-line {
  padding-bottom: 27px;
  margin-top: 22px;
}
.row .col-2-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #474747;
  margin-bottom: 37px;
}
.row .col-2-text-2 {
  color: #474747;
  line-height: 22.4px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  width: 524px;
  height: 237px;
}
.row .red-line-2 {
  margin-top: 22px;
  margin-bottom: 27px;
  width: 137px;
  padding-top: 6px;
  background-color: #BF0F0F;
  outline: none;
  border: none;
  left: 765px;
  margin-left: 0;
  margin-right: auto;
}
.row .grey-line-2 {
  padding-top: 3px;
  background-color: #C4C4C4;
  border: none;
  outline: none;
  margin-bottom: 30px;
}
.row .red-button {
  width: 100px fixed;
  height: 48px fixed;
  padding: 12px;
  background-color: #BF0F0F;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  margin-top: 35px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

.container-2 {
  position: relative;
  width: 100%;
  height: 502px;
  background-image: url("../assets/test.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.container-2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(49, 56, 64, 0.47);
}
.container-2 h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  font-family: "Roboto", sans-serif;
  width: 100%;
}
.container-2 h3::after {
  content: "";
  display: block;
  width: 137px;
  height: 6px;
  background-color: #BF0F0F;
  margin-top: 16px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.container .container-3 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.row2 {
  align-items: center;
  margin-top: 74px;
  margin-left: 104px;
  margin-right: 104px;
  display: flex;
  flex-direction: row;
}
.row2 .test2 {
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px 15px;
  align-items: flex-start;
  text-align: start;
}
.row2 .text1, .row2 .text2, .row2 .text3 {
  text-transform: uppercase;
  text-align: start;
  padding-top: 26px;
  font-size: 24px;
  font-family: 400;
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}
.row2 .text1::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #BF0F0F;
  margin-top: 11px;
  margin-bottom: 57px;
}
.row2 .text2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #BF0F0F;
  margin-top: 11px;
  margin-bottom: 57px;
}
.row2 .text3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #BF0F0F;
  margin-top: 11px;
  margin-bottom: 57px;
}
.row2 .pics3 {
  display: block;
}
.row2 .redline-pics3 {
  position: absolute;
  background-color: #BF0F0F;
  width: 401px;
  height: 12px;
  border: none;
  bottom: 105px;
}
.row2 .redline-pics {
  position: relative;
  width: 100%;
}

.container-4 {
  width: 100%;
  text-align: center;
}
.container-4 h5::after {
  content: "";
  display: block;
  width: 137px;
  height: 6px;
  background-color: #BF0F0F;
  margin-top: 32px;
  margin-bottom: 93px;
  margin-left: auto;
  margin-right: auto;
}
.container-4 .row3 {
  margin-bottom: 20px;
}
.container-4 .column h2 {
  margin: 0;
  font-size: 36px;
  margin-bottom: 17px;
}
.container-4 .column h5 {
  margin: 0;
  font-size: 18px;
}
.container-4 .row4 {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../assets/red-pics.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.container-4 .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.container-4 .item {
  text-align: center;
  flex: 1;
  padding: 20px;
  position: relative;
}
.container-4 .item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 153px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.231372549);
}
.container-4 .item h1 {
  margin: 0;
  font-size: 48px;
}
.container-4 .item p {
  margin: 5px 0 0;
  font-size: 18px;
}

.container-5 {
  padding-top: 92px;
  background-color: #F4F4F4;
  padding-bottom: 60px;
  position: relative;
  height: 636px;
  text-align: center;
}
.container-5 .ct-5-text {
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  font-family: "Inter", sans-serif;
  color: #474747;
}
.container-5 .ct-5-text::after {
  content: "";
  display: block;
  width: 524px;
  height: 3px;
  background-color: #C4C4C4;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.container-5 .row5 {
  margin-bottom: 60px;
}
.container-5 .ct-5-text2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  text-align: center;
  color: #474747;
  padding-bottom: 60px;
}
.container-5 .ct-5-text2-container {
  width: 524px;
  height: 67px;
  gap: 0px;
  opacity: 0px;
  margin-left: auto;
  margin-right: auto;
}
.container-5 .row6 {
  display: flex;
  flex-direction: row;
  margin-left: 137px;
  margin-right: 109px;
  background-color: #F4F4F4;
}
.container-5 .column-white {
  padding-right: 16px;
  position: relative;
  width: 100%;
}
.container-5 .pics4, .container-5 .pics5, .container-5 .pics6, .container-5 .pics7, .container-5 .pics8 {
  display: block;
  width: 100%;
}
.container-5 .oprema-text {
  position: absolute;
  bottom: 64px;
  left: 23px;
}
.container-5 .oprema-text::after {
  content: "";
  display: block;
  width: 53.21px;
  height: 2px;
  background-color: #BF0F0F;
  margin-top: 11px;
  margin-bottom: auto;
}
.container-5 .logo2 {
  position: absolute;
  left: 38px;
  bottom: -32px;
}

.container-6 {
  margin-top: 83px;
  text-align: center;
}
.container-6 .ct-6-text {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
  color: #474747;
  width: 506px;
  height: 68px;
}
.container-6 .ct-6-text::after {
  content: "";
  display: block;
  width: 524px;
  height: 3px;
  background-color: #C4C4C4;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 84px;
}
.container-6 .row8 {
  display: flex;
  flex-direction: row;
  margin-left: 190px;
  margin-right: 190px;
}
.container-6 .column-sponsors {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  width: 115px;
  height: 161px;
}
.container-6 .image-wh {
  width: 115px;
  height: 115px;
}
.container-6 .sponsor-text {
  display: flex;
  flex-direction: column;
}
.container-6 .red-button-2 {
  width: 100px fixed;
  height: 48px fixed;
  padding: 12px;
  background-color: #BF0F0F;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 4px;
  margin-top: 75px;
  margin-bottom: 75px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

label {
  position: absolute;
  width: 45px;
  height: 22px;
  right: 20px;
  top: 20px;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
  transition: border-color 0.4s;
}

label:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  background: #353232;
  transition: 0.4s;
}

label.active:before {
  left: 24px;
  background: #fff;
}

/* Dark mode styles */
body.night {
  background: #000;
  color: #fff;
}

body.night .nav1 {
  background-color: #353232;
  color: #fff;
}

body.night .nav1 ul li a {
  color: #fff;
}

body.night .nav2 {
  background-color: #000;
  color: #fff;
}

body.night .nav2 ul li a {
  color: #fff;
}

body.night .container-5 {
  background-color: #000;
  color: #fff;
}

body.night .column-white {
  background-color: #000;
  color: #fff;
}

body.night .oprema-text {
  color: #000;
}

body.night .ct-6-text {
  color: #fff;
}

body.night .ct-5-text {
  color: #fff;
}

footer {
  margin: 0px;
  padding: 0px;
  height: 383px;
  background-image: url("../assets/footer-img.png");
  width: 100%;
}

.container-7 {
  position: relative;
  width: 100%;
  text-align: start;
}
.container-7 .row9 {
  position: relative;
  width: 100%;
  height: 383px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.container-7 .text-overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.container-7 .item1, .container-7 .item2, .container-7 .item3, .container-7 .item4 {
  text-align: start;
  flex: 1;
  position: relative;
}
.container-7 .item1:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 65px;
  margin-bottom: 101px;
  margin-top: 116px;
  transform: translateY(-50%);
  height: 196px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.7490196078);
}
.container-7 .item3:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 25px;
  margin-bottom: 101px;
  margin-top: -140px;
  transform: translateY(-50%);
  height: 196px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.7490196078);
}
.container-7 .item3:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 325px;
  margin-bottom: 101px;
  margin-top: 120px;
  transform: translateY(-50%);
  height: 196px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.7490196078);
}

.item1 {
  margin-bottom: 231px;
  margin-top: 67px;
  margin-left: 78px;
}

.footer-img {
  margin-left: 130px;
}

.item2-ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.item2-li {
  list-style: none;
  text-align: start;
  padding-bottom: 35px;
  margin-left: -40px;
}

.item2-txt {
  font-size: 28px;
  text-align: start;
}

.item3-text {
  text-align: start;
  padding-bottom: 0px;
  margin-left: 92px;
}

.item4 {
  margin-bottom: 177px;
}

.icons-ul {
  display: flex;
  flex-direction: row;
  margin-left: -40px;
}

.icons-li {
  padding-right: 15px;
  list-style: none;
}

.icons-text {
  margin-bottom: 10px;
}

#item2-li {
  text-decoration: underline;
}