@import 'variables';


.container-nav1 {
    max-width: 100%;
    margin: 0 auto;
}

.container-nav2 {
    max-width: 100%;
    margin: 0 auto;
}

body {
    background-color: $background-color;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

//NAV1 SECTION
.nav1 {
    display: flex;
    justify-content: space-between; 
    padding: 1rem 2rem; 
    background: #cfd8dc; 
    padding: 20px 0 20px 0;
    .logo {
        padding: 17px 0 0 105px;
    } 
    ul {
        display: flex; 
        list-style: none;
        margin: 31px 100px 0 0;
    }
    li {
        padding-left: 1rem; 
    } 
    ul li a {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        
    }
    .hu, .eng{
        color: #595959;
        text-decoration: underline;
    }
    
    .srb {
        text-decoration: none;
        color: #888787;
    }
}

   
//NAV2 SECTION
.nav2 {
    background-color: #f0f0f0; 
    color: #000;
    text-align: center;
    padding: 10px 0;
    .nav-menu {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }
        .nav-menu li {
            display: flex;
            justify-content: center;
            flex-direction: column; 
            padding: 0 52px;
            position: relative;
            text-align: center;
        }
        li:first-child::before {
            content: "";
            position: absolute;
            left: -21px;
            top: -11px;
            padding: 50px 0 50px 0;
            width: 1px;
            background-color: #88878766;
          }
          li::after {
            content: "";
            position: absolute;
            right: 0;
            top: -11px;
            padding: 50px 0 50px 0;
            width: 1px;
            background-color: #88878766;
          }
        .nav-menu a {
            text-decoration: none;
            color: #000;
            display: flex;
            flex-direction: column; 
            align-items: center;
        }
        .nav-menu .upperc {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
        }
        
        .nav-menu .lowerc {
            color: #474747;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
        }
}

//image container section
.image-container {
    position: relative; 
    width: 100%; 
    .image-container img {
        display: block; 
        width: 100%;  
    }
    .icon-overlay {
        position: absolute; 
        bottom: 50px; 
        left: 50%; 
          
    }
}

//Container section
.row  {
    margin: 73px 0 70px 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    .dvg {
        font-size: 42px;
        font-weight: 700;
        line-height: 34px;
        color: 303030;
        font-family: 'Roboto', sans-serif;
        color: 303030;
    }
    .col-2 {
        padding-left: 55px;
        margin-top: 48px;
        width: 506px;
    }
    .red-line {
        padding-bottom: 27px;
        margin-top: 22px;
    }
    .col-2-text {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        color: #474747;
        margin-bottom: 37px;
    }
    .col-2-text-2 {
        color: #474747;
        line-height: 22.4px;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        width:  524px;
    }
    //harom margin egyben dvg szoveg hossz
    .red-line-2 {
        margin: 22px auto 27px 0;
        width: 137px;
        padding-top: 6px;
        background-color: #BF0F0F;
        outline: none;
        border: none; 
    }
    .grey-line-2 {
        padding-top: 3px;
        background-color: #C4C4C4;
        border: none;
        outline: none;
        margin-bottom: 30px;
    }
    .red-button {
        padding: 12px;
        background-color: #BF0F0F;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 4px;
        margin-top: 35px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        cursor: pointer;
    }
}

//Container-2 section
.container-2 {
    position: relative;
    width: 100%;
    padding: 251px 0 251px 0;
    background-image: url('../assets/test.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(49, 56, 64, 0.47);
    }
    h3 {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: #fff;
        letter-spacing: 10px;
        font-weight: 700;
        font-size: 32px;
        line-height: 34px;
        font-family: 'Roboto', sans-serif;
        width: 100%;
    }
    h3::after {
        content: "";
        display: block;
        width: 137px;
        padding: 3px 0 3px 0;
        background-color: #BF0F0F;
        margin: 16px auto auto auto;
    }
}

//container,container-3
.container {
    .container-3 {
        display: flex;
        justify-content: center; 
        width: 100%;
    }
}

//Container-3 section
.row2{
    align-items: center;
    margin: 74px 104px 0px 104px;
    display: flex;
    flex-direction: row;
    padding: 0 104px 0px 104px;
    .test2 {
        display: flex;
        flex-direction: column;
        padding: 0 15px 0 15px; 
        align-items: flex-start; 
        text-align: start;
    }
    .text1, .text2, .text3 {
        text-transform: $uppercase;
        text-align: start;
        padding-top: 26px;
        font-size: 24px;
        font-family: 400;
        font-family: 'Roboto', sans-serif;
        line-height: 22px;
    } 
    .text1::after {
        content: "";
        display: block;
        width: 50px;
        padding: 1px 0 1px 0;
        background-color: #BF0F0F;
        margin: 11px 0 57px 0;
    }   
    .text2::after {
        content: "";
        display: block;
        width: 50px;
        padding: 1px 0 1px 0;
        background-color: #BF0F0F;
        margin: 11px 0 57px 0;
    }
    .text3::after {
        content: "";
        display: block;
        width: 50px;
        padding: 1px 0 1px 0;
        background-color: #BF0F0F;
        margin: 11px 0 57px 0;
    }
    .pics3 {
        display: block;
    }
    .redline-pics3 {
        position: absolute;
        background-color: #BF0F0F;
        width: 401px;
        padding: 6px 0 6px 0;
        border: none; 
        bottom: 105px;
    }
    .redline-pics {
        position: relative; 
        width: 100%; 
    }
}

//Container 4 section
.container-4 {
    width: 100%;
    text-align: center;
    h5::after {
        content: "";
        display: block;
        width: 137px;
        padding: 3px 0 3px 0;
        background-color: #BF0F0F;
        margin: 32px auto 93px auto;
    }
    .row3 {
        margin-bottom: 20px;
    }
    .column h2 {
        margin: 0;
        font-size: 36px;
        margin-bottom: 17px;
    }
    .column h5 {
        margin: 0;
        font-size: 18px;
    }
    .row4 {
        position: relative;
        width: 100%;
        padding: 172.5px 0 172.5px 0;
        background-image: url('../assets/red-pics.png');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .text-overlay {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white; 
    }
    .item {
        text-align: center;
        flex: 1;
        padding: 20px;
        position: relative;
    }
    .item:not(:last-child)::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 76.5px 0 76.5px 0;
        width: 1px; 
        background-color: #ffffff3b;
    }
    .item h1 {
        margin: 0;
        font-size: 48px;
    }
    
    .item p {
        margin: 5px 0 0;
        font-size: 18px;
    }
    .m2 {
        font-size: 26px;
    }
}

//container-5 section
.container-5 {
    padding-top: 92px;
    background-color: #F4F4F4;
    padding-bottom: 60px;
    position: relative;
    text-align: center;
    .ct-5-text {
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        font-family: 'Inter', sans-serif;
        color: #474747;
    }
    .ct-5-text::after {
        content: "";
        display: block;
        width: 524px;
        padding: 1.5px 0 1.5px 0;
        background-color: #C4C4C4;
        margin: 60px auto 60px auto;
    }
    .row5{
        margin-bottom: 60px;
    }
    .ct-5-text2 {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: center;
        color: #474747;
        padding-bottom: 60px;
    }
    .ct-5-text2-container {
        width: 524px;
        gap: 0px;
        opacity: 0px;
        margin: 0 auto 0 auto;
    }
    .row6 {
        display: flex;
        flex-direction: row;
        margin: 0 109px 40px 137px;
        background-color: #F4F4F4;
    }
    .column-white {
        padding-right: 16px;
        position: relative; 
        width: 100%;
    }
    .pics4, .pics5, .pics6, .pics7, .pics8 {
        display: block; 
        width: 100%;  
    }
    .oprema-text {
        position: absolute; 
        bottom: 64px; 
        left: 23px; 
    }
    .oprema-text::after {
        content: "";
        display: block;
        width: 53.21px;
        padding: 1px 0 1px 0;
        background-color: #BF0F0F;
        margin: 11px 0 auto 0;
    }
    .logo2 {
        position: absolute; 
        left: 38px;
        bottom: -22px;
    }
}

//Container-6 section
.container-6 {
    margin-top: 83px;
    text-align: center;
    .ct-6-text {
        font-family: 'Inter', sans-serif;
        font-size: 28px;
        font-weight: 400;
        line-height: 34px;
        text-align: center;
        color: #474747;
        width: 506px;
        padding: 39px 0 39px 0;
    }
    .ct-6-text::after {
        content: "";
        display: block;
        width: 524px;
        padding: 1.5px 0 1.5px 0;
        background-color: #C4C4C4;
        margin: 44px auto 84px auto;
    }
    .row8 {
        display: flex;
        flex-direction: row;
        margin: 0 190px 0 190px;
    }
    .column-sponsors{
        margin: 0 auto 0 auto;
        text-align: center;
        justify-content: center;
        width: 115px;
    }
    .image-wh {
        width: 115px;
        height: 136px; 
    }
    .sponsor-text {
    display: flex;
    flex-direction: column; 
    }
    .red-button-2 {
        padding: 12px;
        background-color: #BF0F0F;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 4px;
        margin: 75px 0 75px 0;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        cursor: pointer;
    }
}

//Dark White label as switch
label {
    position: absolute;
    width: 45px;
    padding: 11px 0 11px 0;
    right: 20px;
    top: 45px;
    border: 2px solid;
    border-radius: 20px;
    cursor: pointer;
    transition: border-color 0.4s;
}
label:before {
    position: absolute;
    content: '';
    width: 20px;
    padding: 10px 0 10px 0;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #353232;
    transition: 0.4s;
}
label.active:before {
    left: 24px;
    background: #fff;
}

/* Dark mode styles */
body.night {
    background: #000;
    color: #fff;
}

body.night .nav1 {
    background-color: #353232;
    color: #fff;
}

body.night .nav1 ul li a {
    color: #fff;
}

body.night .nav2 {
    background-color: #000;
    color: #fff;
}

body.night .nav2 ul li a {
    color: #fff;
}

body.night .container-5 {
    background-color: #000;
    color: #fff;
}

body.night .column-white {
    background-color: #000;
    color: #fff;
}

body.night .oprema-text {
    color: #000;
}

body.night .ct-6-text {
    color: #fff;
}

body.night .ct-5-text {
    color: #fff;
}

//footer section
footer {
    margin: 0px;
    background-image: url('../assets/footer-img.png');
    width: 100%;
}

.container-7 {
    position: relative;
    width: 100%;
    text-align: start;
    .row9 {
        position: relative;
        width: 100%; 
        padding: 191.5px 0 191.5px 0;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .text-overlay2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white; 
    }
    .item1, .item2, .item3, .item4 {
        text-align: start;
        flex: 1;
        position: relative;
    }
    .item1:not(:last-child)::after {
        content: '';
        position: absolute;
        right: 65px;
        margin-top: 116px 0 101px 0;
        transform: translateY(-50%);
        padding: 120px 0 120px 0;
        width: 1px; 
        background-color: #ffffff85;
    }
    .item3:not(:last-child)::after {
        content: '';
        position: absolute;
        right: 25px;
        margin: -140px 0 101px 0;
        transform: translateY(-50%);
        padding: 120px 0 120px 0;
        width: 1px; 
        background-color: #ffffff85;
    }
    .item3:not(:last-child)::before {
        content: '';
        position: absolute;
        right: 325px;
        margin: 120px 0 101px 0;
        transform: translateY(-50%);
        padding: 120px 0 120px 0;
        width: 1px; 
        background-color: #ffffff85;
    }

}

.item1 {
    margin: 300px 0 231px 78px;
}

.footer-img {
    margin-left: 130px;
}

.item2-ul {
    display: flex;
    flex-direction: column;
    list-style: none
}

.item2-li {
    list-style: none;
    text-align: start;
    padding-bottom: 35px;
    margin-left: -40px;
}

.item2-txt {
    font-size: 28px;
    text-align: start;
}

.item3-text {
    text-align: start;
    padding-bottom: 0px;
    margin-left: 92px;
}

.item4 {
   margin-bottom: 177px;
}

.icons-ul {
    display: flex;
    flex-direction: row;
    margin-left: -40px;
}

.icons-li {
    padding-right: 15px;
    list-style: none;
}
  
.icons-text {
    margin-bottom: 10px;
}

#item2-li {
    text-decoration: underline;
}


/* Popup styles */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; 
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.popup-content h2 {
    margin-bottom: 15px;
}

.popup-content p {
     margin-bottom: 20px;
}

.popup-content button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.popup-content .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

