@import 'variables';

.container-nav1 {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-nav2 {
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-nav1,
.container-nav2,
.container-5,
.container-4,
.container-7,
footer {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container,
.container-2,
.container-3,
.container-6{
    max-width: 100%;
    margin: 0 auto;
    overflow-y: hidden;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-color: $background-color;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

//NAV1 SECTION
.nav1 {
    display: flex;
    justify-content: space-between; 
    padding: 1rem 2rem; 
    background: #cfd8dc; 
    padding: 20px 0 20px 0;
    .logo {
        padding: 17px 0 0 105px;
    @media only screen and (max-width: 967px) {
        padding: 15px;
    }
    @media only screen and (max-width: 514px) {
        width: 200px;
        height: 40px;
    }
    @media only screen and (max-width: 455px) {
        width: 180px;
        height: 35px;
    }
    @media only screen and (max-width: 360px) {
        width: 160px;
        height: 32px;
    }
    @media only screen and (max-width: 320px) {
        width: 140px;
        height: 29px;
    }
    
    } 
    ul {
        display: flex; 
        list-style: none;
        margin: 31px 100px 0 0;
    }
    li {
        padding-left: 1rem; 
    } 
    ul li a {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        
    }
    .hu, .eng{
        color: #595959;
        text-decoration: underline;
    }
    .srb {
        text-decoration: none;
        color: #888787;
    }
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
  
//NAV2 SECTION
.nav2 {
    background-color: #f0f0f0; 
    color: #000;
    text-align: center;
    padding: 10px 0;
    .nav-menu {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
    }
        .nav-menu li {
            display: flex;
            justify-content: center;
            flex-direction: column; 
            padding: 0 52px;
            position: relative;
            text-align: center;
        }
        li:first-child::before {
            content: "";
            position: absolute;
            left: -21px;
            top: -11px;
            padding: 50px 0 50px 0;
            width: 1px;
            background-color: #88878766;
          }
          li::after {
            content: "";
            position: absolute;
            right: 0;
            top: -11px;
            padding: 50px 0 50px 0;
            width: 1px;
            background-color: #88878766;
          }
        .nav-menu a {
            text-decoration: none;
            color: #000;
            display: flex;
            flex-direction: column; 
            align-items: center;
        }
        .nav-menu .upperc {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
        } 
        .nav-menu .lowerc {
            color: #474747;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
        }
}
.menu-icon2 {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

//image container section
.image-container {
    position: relative; 
    width: 100%; 
    .image-container img {
        display: block; 
        width: 100%;  
    }
    .icon-overlay {
        position: absolute; 
        bottom: 50px; 
        left: 50%;   
    }
}

//Container section
.row  {
    margin: 73px 0 70px 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    .dvg {
        font-size: 42px;
        font-weight: 700;
        line-height: 34px;
        color: #303030;
        font-family: 'Roboto', sans-serif;
    }
    .col-2 {
        padding-left: 55px;
        margin-top: 48px;
        width: 506px;
    @media only screen and (max-width: 595px) {
        padding: 0 20px 0 20px;
    }
    }
    .red-line {
        padding-bottom: 27px;
        margin-top: 22px;
    }
    .col-2-text {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        color: #474747;
        margin-bottom: 37px;
    }
    .col-2-text-2 {
        color: #474747;
        line-height: 22.4px;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        width:  524px;
    }
    .red-line-2 {
        margin: 22px auto 27px 0;
        width: 137px;
        padding-top: 6px;
        background-color: #BF0F0F;
        outline: none;
        border: none; 
    }
    .grey-line-2 {
        padding-top: 3px;
        background-color: #C4C4C4;
        border: none;
        outline: none;
        margin-bottom: 30px;
    @media only screen and (max-width: 568px) {
            display: none;
        }
    }
    .red-button {
        padding: 12px;
        background-color: #BF0F0F;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 4px;
        margin-top: 35px;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        cursor: pointer;
    }
}

//Container-2 section
.container-2 {
    position: relative;
    width: 100%;
    padding: 251px 0 251px 0;
    background-image: url('../assets/test.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(49, 56, 64, 0.47);
    }
    .h3 {
        position: absolute; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: #fff;
        letter-spacing: 10px;
        font-weight: 700;
        font-size: 32px;
        line-height: 34px;
        font-family: 'Roboto', sans-serif;
        width: 100%;
    @media only screen and (max-width: 376px) {
        font-size: 24px;
    }
    }
    h3::after {
        content: "";
        display: block;
        width: 137px;
        padding: 3px 0 3px 0;
        background-color: #BF0F0F;
        margin: 16px auto auto auto;
    }
}

/* Container-3 section */
.container-3 {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 74px 104px 0 104px;
    width: 100%;
    flex-wrap: wrap; 
    box-sizing: border-box; 
}

.test2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 15px;
    text-align: start; 
    box-sizing: border-box;
    max-width: 401px; 
}

.test2 img {
    max-width: 100%;
    height: auto; 
}

.text1, .text2, .text3 {
    text-transform: uppercase;
    padding-top: 26px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    text-align: start; 
} 

.text1::after, .text2::after, .text3::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px; 
    background-color: #BF0F0F;
    margin: 11px 0 57px 0;
}

@media only screen and (max-width: 1492px) {
    .container-3 {
        flex-direction: column;
        align-items: center; 
        padding: 0; 
    }

    .test2 {
        width: 100%; 
        max-width: 401px; 
        margin: 20px 0; 
        text-align: start; 
        align-items: flex-start; 
    }

    .test2 img {
        width: 100%;
        height: auto; 
    }
}

.redline-pics3 {
    background-color: #BF0F0F;
    width: 100%; 
    height: 10px; 
    border: none; 
    margin-top: -10px; 
}

.redline-pics {
    position: relative;
}

//Container 4 section
.container-4 {
    width: 100%;
    text-align: center;
    h5::after {
        content: "";
        display: block;
        width: 137px;
        padding: 3px 0 3px 0;
        background-color: #BF0F0F;
        margin: 32px auto 93px auto;
    }
    .row3 {
        margin-bottom: 20px;
    }
    .column h2 {
        margin: 0;
        font-size: 36px;
        margin-bottom: 17px;
    }
    .column h5 {
        margin: 0;
        font-size: 18px;
    }
    .row4 {
        position: relative;
        width: 100%;
        padding: 172.5px 0 172.5px 0;
        background-image: url('../assets/red-pics.png');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .text-overlay {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white; 
    }
    .item {
        text-align: center;
        flex: 1;
        padding: 20px;
        position: relative;
    }
    .item:not(:last-child)::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding: 76.5px 0 76.5px 0;
        width: 1px; 
        background-color: #ffffff3b;
    }
    .item h1 {
        margin: 0;
        font-size: 48px;
    }
    
    .item p {
        margin: 5px 0 0;
        font-size: 18px;
    }
    .m2 {
        font-size: 26px;
    }
}

//container-5 section
.container-5 {
    padding-top: 92px;
    background-color: #F4F4F4;
    padding-bottom: 60px;
    position: relative;
    text-align: center;
    .ct-5-text {
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        font-family: 'Inter', sans-serif;
        color: #474747;
    }
    .ct-5-text::after {
        content: "";
        display: block;
        width: 524px;
        padding: 1.5px 0 1.5px 0;
        background-color: #C4C4C4;
        margin: 60px auto 60px auto;
    @media only screen and (max-width: 522px) {
        display: none;
    }
    }
    .row5{
        margin-bottom: 60px;
    }
    .ct-5-text2 {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 22.4px;
        text-align: center;
        color: #474747;
        padding-bottom: 60px;
    }
    .ct-5-text2-container {
        width: 524px;
        gap: 0px;
        opacity: 0px;
        margin: 0 auto 0 auto;
    }
    .row6 {
        display: flex;
        flex-direction: row;
        margin: 0 109px 40px 137px;
        background-color: #F4F4F4;
    }
    .column-white {
        padding-right: 16px;
        position: relative; 
        width: 100%;
    }
    .pics4, .pics5, .pics6, .pics7, .pics8 {
        display: block; 
        width: 100%;  
    }
    .oprema-text {
        position: absolute; 
        bottom: 64px; 
        left: 23px; 
    }
    .oprema-text::after {
        content: "";
        display: block;
        width: 53.21px;
        padding: 1px 0 1px 0;
        background-color: #BF0F0F;
        margin: 11px 0 auto 0;
    }
    .logo2 {
        position: absolute; 
        left: 38px;
        bottom: -22px;
    }
}

//Container-6 section
.container-6 {
    margin-top: 83px;
    text-align: center;
    .ct-6-text {
        font-family: 'Inter', sans-serif;
        font-size: 28px;
        font-weight: 400;
        line-height: 34px;
        text-align: center;
        color: #474747;
        width: 506px;
        padding: 39px 0 39px 0;
    }
    .ct-6-text::after {
        content: "";
        display: block;
        width: 524px;
        padding: 1.5px 0 1.5px 0;
        background-color: #C4C4C4;
        margin: 44px auto 84px auto;
    }
    .row8 {
        display: flex;
        flex-direction: row;
        padding: 0 190px 0 190px;
    @media only screen and (max-width: 468px) {
        padding: 0;
        margin: 0;
    }
    } 
    .column-sponsors{
        margin: 0 auto 0 auto;
        text-align: center;
        justify-content: center;
        width: 115px;
    }
    .image-wh {
        width: 115px;
        height: 136px; 
    }
    .sponsor-text {
    display: flex;
    flex-direction: column; 
    }
    .red-button-2 {
        padding: 12px;
        background-color: #BF0F0F;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 4px;
        margin: 75px 0 75px 0;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 18px;
        font-weight: 500;
        cursor: pointer;
    }
}

//Dark White label as switch
label {
    position: absolute;
    width: 45px;
    padding: 11px 0 11px 0;
    right: 20px;
    top: 45px;
    border: 2px solid;
    border-radius: 20px;
    cursor: pointer;
    transition: border-color 0.4s;
}
label:before {
    position: absolute;
    content: '';
    width: 20px;
    padding: 10px 0 10px 0;
    left: 1px;
    top: 1px;
    border-radius: 50%;
    background: #353232;
    transition: 0.4s;
}
label.active:before {
    left: 24px;
    background: #fff;
}

/* Dark mode styles */
body.night {
    background: #000;
    color: #fff;
}

body.night .nav1 {
    background-color: #353232;
    color: #fff;
}

body.night .nav1 ul li a {
    color: #fff;
}

body.night .nav2 {
    background-color: #000;
    color: #fff;
}

body.night .nav2 ul li a {
    color: #fff;
}

body.night .container-5 {
    background-color: #000;
    color: #fff;
}

body.night .column-white {
    background-color: #000;
    color: #fff;
}

body.night .oprema-text {
    color: #000;
}

body.night .ct-6-text {
    color: #fff;
}

body.night .ct-5-text {
    color: #fff;
}
body.night .popup-content {
    background-color: #595959;
    color: #fff;
}

//footer section
footer {
    margin: 0px;
    background-image: url('../assets/footer-img.png');
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.container-7 {
    position: relative;
    width: 100%;
    text-align: start;
    .row9 {
        position: relative;
        width: 100%; 
        padding: 191.5px 0 191.5px 0;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    .text-overlay2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white; 
    }
    .item1, .item2, .item3, .item4 {
        text-align: start;
        flex: 1;
        position: relative;
    }
    .item1:not(:last-child)::after {
        content: '';
        position: absolute;
        right: 65px;
        margin-top: 116px 0 101px 0;
        transform: translateY(-50%);
        padding: 120px 0 120px 0;
        width: 1px; 
        background-color: #ffffff85;
    }
    .item3:not(:last-child)::after {
        content: '';
        position: absolute;
        right: 25px;
        margin: -140px 0 101px 0;
        transform: translateY(-50%);
        padding: 120px 0 120px 0;
        width: 1px; 
        background-color: #ffffff85;
    }
    .item3:not(:last-child)::before {
        content: '';
        position: absolute;
        right: 325px;
        margin: 120px 0 101px 0;
        transform: translateY(-50%);
        padding: 120px 0 120px 0;
        width: 1px; 
        background-color: #ffffff85;
    }

}

.item1 {
    margin: 300px 0 231px 78px;
}

.footer-img {
    margin-left: 130px;
}

.item2-ul {
    display: flex;
    flex-direction: column;
    list-style: none
}

.item2-li {
    list-style: none;
    text-align: start;
    padding-bottom: 35px;
    margin-left: -40px;
}

.item2-txt {
    font-size: 28px;
    text-align: start;
}

.item3-text {
    text-align: start;
    padding-bottom: 0px;
    margin-left: 92px;
}

.item4 {
   margin-bottom: 177px;
}

.icons-ul {
    display: flex;
    flex-direction: row;
    margin-left: -40px;
}

.icons-li {
    padding-right: 15px;
    list-style: none;
}
  
.icons-text {
    margin-bottom: 10px;
}

#item2-li {
    text-decoration: underline;
}

.mobile-footer {
    display: none;
}

/* Popup styles */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; 
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    color: #000;
}

.popup-content h2 {
    margin-bottom: 15px;
}

.popup-content p {
     margin-bottom: 20px;
}

.popup-content button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.popup-content .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

@media only screen and (max-width: 1382px) {
    .nav2 {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-icon2 {
        display: block;
    }
    .nav-menu.nav2-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #cfd8dc;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 1;
        margin-top: 100px;
    }
    .nav-menu.nav2-list.show {
        display: flex;
    }
    .nav-menu.nav2-list .v-row {
        width: 100%;
        text-align: left;
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
    }
    .nav-menu.nav2-list .v-row:last-child {
        border-bottom: none;
    }
    
}

@media only screen and (max-width: 1271px) {
    .col, .col-img {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 1265px) {
    footer {
        display: none;
        margin: 0;
        padding: 0;
    }
    .mobile-footer {
        display: block;
        color: #fff;
        background-color: #2f2e2e;
        width: 100%;
        padding: 15px;
        margin: 0;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: 16px;
        padding: 20px 5px 20px 5px;

    }
    .mobile-footer p {
        padding: 15px;
    }
    li:first-child::before {
        content: "";
       display: none;
      }
      li::after {
        content: "";
        display: none;
      }
      .row {
        width: 100%;
      }
    .test2 {
        flex: 1 1 45%; /* Make each image take up 45% of the container width */
    }
}

@media only screen and (max-width: 1211px) {
    .oprema-text {
        font-size: 11px;
    }
    .test2 {
        flex: 1 1 45%; 
    }
    .row2 {
        padding: 20px 0 0 0;
        margin: 20px 0 0 0;
    }
}

@media only screen and (max-width: 968px) {
    body {
        max-width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .image-container img {
        width: 100%;
        height: auto;
    }
    
    .container-2 {
        width: 100%;
        height: auto;
    }
    .row2 {
        display: flex;
        flex-direction: column;
    }
    .redline-pics3 {
        display: none;
    }
    .row4 {
        padding: 20px 0;
    }
    .text-overlay {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    .item:not(:last-child)::after {
        display: none;
    }
    .item {
        margin-top: 50px;
    }
    .row8 {
        flex-wrap: wrap;
    }
    .item1:not(:last-child)::after, .item2:not(:last-child)::after{
        display: none;
    }
    .item3:not(:last-child)::before {
        display: none;
    }
    .menu-icon {
        display: block;
        padding: 10px;
        margin: auto 10px auto 10px;
    }
    .nav1 ul {
        display: none;
        flex-direction: column;
        position: absolute;
        text-align: center;
        top: 60px;
        right: 0;
        width: 150px;
        margin: 15px auto 0 auto;
        background: #cfd8dc;
        z-index: 1;
    }
    .nav1 ul.show {
        display: flex;
    }
    .nav1 li {
        margin: 10px 0;
        text-align: center;
    }
    label {
        margin-right: 50px;
    }
    h3 {
        font-size: 26px;;
    }
    .swiper-wrapper, .swiper-slide, .column-white, .pics4, .pics5, .pics6, .pics7, .pics8{
        width: 300px;
        height: auto;
    }
    .row {
        display: flex;
        flex-direction: column;  
    }
    .test2 {
        flex: 1 1 2; /* Make each image take up 45% of the container width */
    }
    .column-sponsors {
        padding: 20px;
        margin: 0 auto 0 auto;
        text-align: center;
    }
}

@media only screen and (max-width: 522px) {
    .row5 {
        display: flex;
        flex-wrap: wrap; 
        flex-direction: row;
    }
    .ct-5-text {
        margin: 60px auto 60px auto;
    }
    .logo2 {
        left: 8px;
        bottom: -22px;
        width: 100px;
        height: auto;
    }
}

@media only screen and (max-width: 520px) {
    .container-6 {
        margin: 0 auto 0 auto;
        padding: 0;
        text-align: center;
        align-items: center;
    }
    .row8 {
        padding: 0;
    }
    .column-sponsors{
        margin: 0 auto 0 auto;
        text-align: center;
        justify-content: center;
    }
    .row7 {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 483px) {
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
    .oprema-text {
        display: none;
    }
}

@media only screen and (max-width: 365px) {
    .logo2 {
        margin-left: -20px;
        bottom: -22px;
        width: 80px;
        height: auto;
    }
}

.row {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    width: 100%;
}
